/* External Style Sheet */

/* Make all font on webpage Arial */
body {
  font-family: Arial;
}

/* Center the headers */
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

/* Add margins to row for better formatting */
.row {
	display: flex;
  width: 100%;
}

/* Set left column to 60% of page */
#col1 {
  width: 60%;
  min-height: 400px;
}

/* Set right column to 40% of page */
#col2 {
  width: 40%;
  min-height: 400px;
  margin-top: 20px;
}

/* make points blue */
circle {
	fill: blue;
}

/* Hightlight point when hovered over */
circle:hover {
  fill: greenyellow;
}

/* Make a border for point to toggle */
.addborder{
  stroke-width: 5px;
  stroke: red;
}

/* Make a removal of border for point to toggle */
.removeborder{
  stroke-width: 0px;
  stroke: blue;
  fill: blue;
}

.bar {
  fill: blue;
}

.bar:hover {
  fill: orange;
}

/* Add tooltip */
.tooltip {
  position: absolute;
  background-color: grey;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}